<html>
<body>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
            <!-- <td><input type="text" th:field="*{dentistName}"/></td>-->
            <td> <select>
                <option value="arst1">Doktor Pille</option>
                <option value="arst2">Doktor Milli</option>
                <option value="arst3">Doktor Gena</option>
                <option value="arst4">Doktor House</option>
            </select></td>
            <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</td>
        </tr>
        <tr>
            <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
            <td><input type="text" th:field="*{visitTime}"/></td>
            <!--<td>

                <select id="day"
                        name="day" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>
                <select id="month"
                        name="month" >
                <option>Jaanuar</option>
                <option>Veebruar</option>
                <option>Märts</option>
                <option>Aprill</option>
                <option>Mai</option>
                <option>Juuni</option>
                <option>Juuli</option>
                <option>August</option>
                <option>September</option>
                <option>Oktoober</option>
                <option>November</option>
                <option>Detsember</option>
                </select>



                    <select id="year"
                            name="year" >
                        <option>2018</option>
                        <option>2019</option>
                    </select>




            </td>-->




            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</td>
         </tr>
         <tr>
             <td>
                 <button type="submit" th:text="#{registreeri.visiidile}"></button>
             </td>
         </tr>
     </table>
 </form>
 </body>
 </html>