<html>
<body>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>

            <td>  <select th:field="*{selectedDentist}">
                <option
                        th:each="dentist: *{dentists}"
                        th:value="${dentist.id}"
                        th:text="${dentist.name}" ></option>
            </select></td>
        </tr>
        <tr>
            <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
            <td><input type="text" th:field="*{visitTime}"/>

            <select th:field="*{selectedHour}">
                <option
                        th:each="hour: *{availableHours}"
                        th:value="${hour.key}"
                        th:text="${hour.value}">
                </option>
            </select>
            </td>
         </tr>
         <tr>
             <td>
                 <button type="submit" th:text="#{registreeri.visiidile}"></button>
             </td>
         </tr>
     </table>
 </form>
 </body>
 </html>